posTop(WIDTH, HEIGHT, URL, TOP = 0, LEFT = 0)
  position absolute
  top TOP
  left LEFT
  width WIDTH
  height HEIGHT
  background url(URL) 0 0 / 100% 100% no-repeat

posBtm(WIDTH, HEIGHT, URL, BOTTOM = 0, LEFT = 0)
  position absolute
  bottom BOTTOM
  left LEFT
  width WIDTH
  height HEIGHT
  background url(URL) 0 0 / 100% 100% no-repeat
